@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Caveat:wght@400..700&display=swap');

:root {
    --font1: 'Caveat', cursive;
    --font2: 'Boldonse', cursive;
    --font3: 'times new roman', serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--font2);
    min-height: 100%;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 4vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 1.6vw;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    color: black;
}

section {
    padding: 10% 0 10% 30px;
    line-height: 2em;
    font-family: var(--font1);
    font-size: 2.5vw;
}

section > p {
    padding-bottom: 2em
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(44, 42, 42, 0.6);
    text-shadow: 1px 1px 1px black;
}

section.imagem {
    background-color: rgb(20, 20, 20);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(29, 28, 28);
    background-size: cover;
    background-attachment: fixed;
}

section#imagem1 {
    background-image: url('../desafio12/imagens/background001.jpg');
    background-position: right center;
}
section#imagem2 { 
    background-image: url('../desafio12/imagens/background002.jpg');
   
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--font3);
}